#root {
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.infoButtonsBar {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 5px;
  padding: 5px;
  width: 90%;
}

.infoCard {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 5px;
  padding: 5px;
  width: 90%;
  height: auto;
  transition: .5s;
}

.infoCard h3 {
  font-size: 20px;
}